<section id="about">
    <div class="about-1">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam fuga voluptatibus vitae error ab
            porro ex quidem molestias rem veritatis autem quia, unde assumenda? Error omnis assumenda accusamus quia,
            cupiditate quod suscipit cum? Iste, cum dolorum id tempora vel minima magni fuga? Incidunt facere officia
            sunt et. Dignissimos sit molestias, odio distinctio saepe ab? Labore minima in, atque saepe quod
            perspiciatis dolor nisi, quidem blanditiis ut tempore provident cupiditate! Reprehenderit repellendus
            recusandae aliquam animi assumenda expedita voluptate quaerat id, ipsum temporibus maiores omnis dolor,
            corporis consequatur, rem quia voluptates culpa iure quod sunt possimus doloremque quas reiciendis. Esse,
            error!</p>
    </div>

    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="bi bi-book-fill"></i>
                            <h3>Misyon</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni ab alias asperiores
                                incidunt minima distinctio! Corporis, velit dolorem ratione nostrum tempora veniam,
                                dolore incidunt ex dolores, eaque expedita maxime non?</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="bi bi-globe"></i>
                            <h3>Vizyon</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni ab alias asperiores
                                incidunt minima distinctio! Corporis, velit dolorem ratione nostrum tempora veniam,
                                dolore incidunt ex dolores, eaque expedita maxime non?</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="bi bi-award"></i>
                            <h3>Başarımlar</h3>
                            <hr>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni ab alias asperiores
                                incidunt minima distinctio! Corporis, velit dolorem ratione nostrum tempora veniam,
                                dolore incidunt ex dolores, eaque expedita maxime non?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-contact-us></app-contact-us>