<!-- <section class="form" class="form my-4 mx-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 no-gutters">
                <img src="../../assets/img/food-doodle-set_160308-239.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h3>Sign into your account!</h3>
                <form>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="email" class="form-control my-3 p-1" placeholder="Email Address" name="" id="">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" class="form-control my-3 p-1" placeholder="*********" name="" id="">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="button" class="btn1 mt-3 mb-5">Login</button>
                        </div>
                    </div>

                    <p>Don't have account?<a href="#">Register Here!</a></p>

                </form>
            </div>
        </div>
    </div>
</section> -->

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
					<i class="login__icon bi bi-person-fill"></i>
					<input type="text" class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon bi bi-lock-fill"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon bi bi-caret-right-fill"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>