<!-- <div>
    <header class="header">
        <nav class="navbar navbar-light navbar-expand-lg rounded p-3 m-1">
            <div class="container-fluid">
                <h2>
                    <i class="bi bi-handbag-fill"></i>
                    <a href="#" class="navbar-brand">
                        <span style="color: rgb(255, 123, 0)">PİA</span>
                        <span style="color: rgb(0, 123, 255)">PPLE</span>
                    </a>
                </h2>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> yorum
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="Restoranlar">Restoranlar</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="Hakkımızda">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn" href="#" title="Giriş Yap/Üye Ol">Giriş Yap/Üye Ol</a>
                        </li>
                        <app-default-button></app-default-button>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div> -->