<!-- <div class="container"> -->
<!-- <div class="row mt-4 "> -->
<!-- <div class="" *ngFor="let num of numSequence(4)"> -->
<!-- *ngFor="let n of numSequence(6);let i = index;" -->
<!-- <div class="card" style="width: 18rem;"> -->
<!-- <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="..."> -->
<!-- <div class="card-body"> -->
<!-- <h5 class="card-title">İstanbul</h5> -->
<!-- <p class="card-text">açıklama</p> -->
<!-- <a href="#" class="btn btn-primary">Restoranları Gez</a> -->
<!-- <a href="#" class="btn btn-outline-danger"><i class="bi bi-heart"></i></a> -->
<!-- <button type="button" class="btn btn-outline-danger">Danger<i class="bi bi-heart"></i></button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->


<!-- <div class="grid">
    <div class="grid__item" *ngFor="let num of numSequence(4)">
        <div class="card">
            <img class="card__img" src="" alt="">
            <div class="card__content">
                <h1 class="card__header">başlık</h1>
                <p class="card__text">açıklama. </p><button class="card__btn">buton <span>&rarr;</span></button>
            </div>
        </div>
    </div>
</div> -->
<div>
<section class="popular-section popular-city">
        
        <div class="popular-cities">
            <div class="container">
                <div class="title">
                <h1>Popüler Şehirler</h1>
                <p>Ülke genelinde en fazla sipariş verilen şehirler.</p>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">İstanbul</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Şehire git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">İstanbul</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Şehire git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">İstanbul</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Şehire git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">İstanbul</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Şehire git</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<section class="popular-section popular-restaurant">

    <div class="popular-cities">
        <div class="container">
            <div class="title">
                <h1>Popüler Restoranlar</h1>
                <p>Ülke genelinde en fazla sipariş verilen restoranlar.</p>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Restoran A</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Restorana git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Restoran B</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Restorana git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Restoran C</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Restorana git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Restoran D</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Restorana git</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>
<section class="popular-section popular-food">

    <div class="popular-cities">
        <div class="container">
            <div class="title">
                <h1>Popüler Yemekler</h1>
                <p>Ülke genelinde en fazla sipariş verilen yemekler.</p>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Mantı</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Yemeğe git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">İskender</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Yemeğe git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Burger</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Yemeğe git</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="../../assets/img/FRzo2KxWYAEqG37.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Pizza</h5>
                            <p class="card-text"> gerekirse biraz açıklama veya yoruma al</p>
                            <a href="#">Yemeğe git</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>
</div>